:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-title {
  display: flex;
  min-height: 48px;
  align-items: flex-start;

  h1 {
    margin: 0;
  }

  button {
    margin-top: -4px;
  }

  input {
    font-size: 24px;
    font-weight: 400;
  }

  form {
    width: 50%;
    mat-form-field {
      width: 100%;
    }
  }
}

.playlist-song-list {
  overflow: auto;
  flex: 1;
}
