<div class="playlist-title">
  <h1 *ngIf="!editMode">{{playlistData.value.name}}</h1>
  <form [formGroup]="playlistData" (ngSubmit)="toggleEdit()" *ngIf="editMode">
    <mat-form-field>
      <input matInput formControlName="name" [placeholder]="textContentService.playlistNamePlaceholder" type="text" required>
      <mat-error *ngIf="playlistData.invalid">{{textContentService.playlistNameRequiredError}}</mat-error>
    </mat-form-field>
  </form>
  <button mat-icon-button (click)="toggleEdit()" *ngIf="!editMode">
    <mat-icon>
      edit
    </mat-icon>
  </button>
</div>
<mat-table [dataSource]="playlistTableData" matSort class="playlist-song-list">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Artist</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.artist}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="album">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Album</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.album}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="relreaseYear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Relrease Year</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.relreaseYear}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="length">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Length</mat-header-cell>
    <mat-cell *matCellDef="let song">{{song.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let song">
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let myRowDara; columns: displayedColumns"></mat-row>
</mat-table>
