@import '~styles/variables';

.header-menu-button {
  display: none;

  @media screen and (max-width: 600px) {
    display: inline-block;
  }
}

.header {
  height: 56px;
}

.header-fill {
  flex: 1 1 auto;
}

.header-title {
  cursor: pointer;
  font-size: 40px;
}

.header-search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  margin-left: 50px;
  margin-right: 10px;
  max-width: 656px;
}

.header-search-bar {
  flex: 1 1 auto;
  background-color: $color-white;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.5em;
}

.user-section {
  display: flex;
  align-items: center;

  .header-user-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: auto 0;
  }

  .header-username {
    font-size: 20px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}
