<mat-toolbar color="primary" role="header" class="mat-medium-tall header">
  <button mat-icon-button class="header-menu-button" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="header-title" routerLink="/">{{textContentService.applicationTitle}}</span>

  <form class="header-search-bar-container">
    <input matInput type="text" [(ngModel)]="searchString" name="search" [placeholder]="textContentService.search" class="header-search-bar">
    <button mat-icon-button type="submit" (click)="search()">
      <mat-icon color="accent">search</mat-icon>
    </button>
  </form>

  <span class="header-fill"></span>

  <div class="user-section" *ngIf="showUser">
    <img [src]="userData.photoUrl" alt="User image" class="header-user-image">

    <button mat-button class="header-username" (click)="openUserSettings()">
      {{userData.name}}
    </button>

    <button mat-button (click)="logout()">
      Sign Out
    </button>
  </div>
</mat-toolbar>
