@import '~styles/variables';

.timeline-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  img {
    margin-right: 10px;
    width: 150px;
    height: 150px;
    object-fit: contain; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
  }

  h1 {
    font-size: 35px;
  }
}

#graph {
  height: 90%;
  width: 100%;
}
