<div class=timeline-header>
  <mat-chip-list>
    <mat-chip *ngFor="let entity of selectedEntities" [removable]="removable">
      {{entity.name}}
      <mat-icon matChipRemove (click)="remove(entity.mbid)">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <form [formGroup]="data">
    <mat-form-field>
      <input type="text" placeholser="Artist" formControlName="selectedEntity" matInput (keyup)="searchEntities($event)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of options" [value]="option" (click)="selectEntity()">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-radio-group formControlName="conectionSelect" (change)="reset()">
      <mat-radio-button value="artists">Artists</mat-radio-button>
      <mat-radio-button value="songs">Songs</mat-radio-button>
    </mat-radio-group>
  </form>
  <button mat-button (click)="showConections()" [disabled]="!selectedEntities.length">
    Show relationships
  </button>
</div>
<div id="graph"></div>
