<mat-sidenav-container class="sidenav">
  <mat-sidenav [(opened)]="showStatus" (closed)="closeSidenav()" class="sidenav-content" [mode]="sidenavMode">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon color="accent">music_note</mat-icon>
        <a matLine routerLink="glimpses">{{textContentService.glimpses}}</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon color="accent">album</mat-icon>
        <a matLine routerLink="timeline">Timeline</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon color="accent">pie_chart</mat-icon>
        <a matLine routerLink="relationships">Relationships</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon matListIcon color="accent">play_arrow</mat-icon>
        <a matLine routerLink="playlists">{{textContentService.yourMusic}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
