@import '~styles/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

button {
  width: $login-button-width;
  height: $login-button-height;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;

  img {
    margin-right: 10px;
    margin-left: -13px;
  }

  div {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 187.1px;
  }
}

.fb-login {
  background-color: $fb-blue-color;

  img {
    width: 25px;
    height: 25px;
    padding: 5.5px;
  }
}

.google-login {
  background-color: $google-blue-color;

  img {
    width: 36px;
    height: 36px;
  }
}

.lastfm-login {
  background-color: #e31b23;

  /deep/.mat-button-wrapper {
    width: 100% !important;
    text-align: center;
  }
}
