<button mat-raised-button class="fb-login" (click)="loginFb()">
  <img [src]="textContentService.fbLogoBlue" alt="Facebook Logo">
  <div>{{textContentService.fbLoginText}}</div>
</button>

<button mat-raised-button class="lastfm-login" (click)="loginLastfm()">
  Sign in with LastFm
</button>

<!-- <button mat-raised-button class="google-login" (click)="loginGoogle()">
  <img [src]="textContentService.googleLogoDark" alt="Google Login">
  <div>{{textContentService.googleLoginText}}</div>
</button> -->
