/*<--- Colors --->*/

$color-white: rgba(255, 255, 255, 1);
$white-text: $color-white;
$primary-color: #2196f3;
$fb-blue-color: #4267b2;
$google-blue-color: #4285f4;
$standardTextColor: #000000;
$even-row-color: #e0e0e0;

/*<--- Dimentions --->*/

$max-content-width: 1284px;
$login-button-width: 268px;
$login-button-height: 40px;
