@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

@include mat-core();

$muser-app-primary: mat-palette($mat-blue);
$muser-app-accent: mat-palette($mat-orange);
$muser-app-warn: mat-palette($mat-red);

$muser-app-theme: mat-light-theme(
  $muser-app-primary,
  $muser-app-accent,
  $muser-app-warn
);

@include angular-material-theme($muser-app-theme);
