<mat-list>
  <mat-list-item *ngFor="let playlist of playlists" [class.selected]="playlist.id === selected">
    <h2 (click)="selected = playlist.id">{{playlist.name}}</h2>
  </mat-list-item>
</mat-list>
<button mat-button color="primary" [mat-dialog-close]="selected">
  Add
</button>
