<div class=timeline-header>
  <mat-chip-list>
    <mat-chip *ngFor="let artist of selectedArtists" [removable]="removable">
      {{artist.name}}
      <mat-icon matChipRemove (click)="remove(artist.mbid)">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <form>
    <mat-form-field>
      <input type="text" placeholser="Artist" [formControl]="selectedArtist" matInput (keyup)="searchArtists($event)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of options" [value]="option" (click)="selectArtist()">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button mat-button (click)="showTimeline()" [disabled]="!selectedArtists.length">
    Show timeline
  </button>
</div>
<vertical-timeline>
  <vertical-timeline-card *ngFor="let event of events" [dateValue]="null" [timeString]="event.date.substring(0, 10)">
    <h1>{{event.label}}</h1>
  </vertical-timeline-card>
</vertical-timeline>
