@import '~styles/variables';

.timeline-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  img {
    margin-right: 10px;
    width: 150px;
    height: 150px;
    object-fit: contain; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
  }

  h1 {
    font-size: 35px;
  }
}

/deep/vertical-timeline-card {
  .date {
    display: none;
  }

  .timeline-img {
    text-align: center;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background-color: $primary-color !important;
    color: $color-white;
  }

  .timeline-content {
    background-color: $color-white;
  }
}

/deep/.timeline-content::after {
  border-color: transparent transparent transparent $color-white !important;
}

/deep/.timeline-item:nth-child(even) .timeline-content::after {
  border-color: transparent $color-white transparent transparent !important;
}
