<div class="page-container">
  <p class="error-code">404</p>
  <div class="error-message-container">
    <h1>{{textContentService.pageNotFoundSorry}}</h1>
    <h2>{{textContentService.pageNotFoundMessage}}</h2>
  </div>
</div>
