@import '~styles/variables';

.page-container {
  display: flex;
  padding: 80px 10px;
  align-items: center;
  justify-content: center;
}

.error-code {
  font-size: 200px;
  line-height: 220px;
  align-content: center;
  border-color: $primary-color;
  border-style: solid;
  border-right-width: 2px;
  padding: 10px 20px;
}

.error-message-container {
  padding: 10px 20px;

  h1 {
    font-size: 70px;
    line-height: 70px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
