<mat-card class="recomandation-card">
  <mat-card-title>Sugested Songs</mat-card-title>
  <mat-card-content class="content-container">
    <a *ngFor="let song of displaySongs" class="recomandation">
      <!-- [routerLink]="['songs', song.id]"> -->
      <img [src]="song.image" [alt]="song.name">
      <div class="song-details">
        <span>{{song.name}}</span> - {{song.artist.name}}
      </div>
    </a>
  </mat-card-content>
</mat-card>

<mat-card class="recomandation-card">
  <mat-card-title>{{textContentService.topArtists}}</mat-card-title>
  <mat-card-content class="content-container">
    <a *ngFor="let artist of artists" class="recomandation" routerLink="/artists/timeline" [queryParams]="{q: 'Bruno Mars'}">
      <!-- [routerLink]="['artists', artist.id]"> -->
      <img [src]="artist.image" [alt]="artist.name">
      <h2>{{artist.name}}</h2>
    </a>
  </mat-card-content>
</mat-card>
