@import '~styles/variables';

.recomandation-card {
  margin: 10px 0;
}

.content-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  .recomandation {
    width: min-content;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $standardTextColor;

    img {
      width: 210px;
      height: 210px;
      object-fit: contain; /* Do not scale the image */
      object-position: center; /* Center the image within the element */
    }

    .song-details {
      margin-top: 5px;
      padding: 0 2px;
      font-size: 20px;
      text-align: center;

      span {
        font-weight: 500;
      }
    }
  }
}
