<form>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="data.name" name="search" placeholder="Playlist Name">
  </mat-form-field>
  <button mat-button type="submit" [mat-dialog-close]="data.name" [disabled]="!data.name" color="primary" (click)="createPlaylist()">
    Create playlist
  </button>
</form>
