<h1>You shearched for:
  <span class="search-string">{{searchString}}</span>
</h1>
<mat-tab-group>
  <mat-tab label="Artists">
    <div *ngFor="let artist of artists" class="result" routerLink="/artists/timeline" [queryParams]="{q: 'Bruno Mars'}">
      <img [src]="artist.image" [alt]="artist.name">
      <h2>{{artist.name}}</h2>
    </div>
  </mat-tab>
  <mat-tab label="Albums">
    <div *ngFor="let album of albums" class="result">
      <img [src]="album.image" [alt]="album.name">
      <h2>
        <span>{{album.name}}</span> - {{album.artist}}</h2>
    </div>
  </mat-tab>
  <mat-tab label="Songs">
    <div *ngFor="let song of songs; let i= index" class="result">
      <img [src]="song.image" [alt]="song.name">
      <h2>
        <span>{{song.name}}</span> - {{song.artist}}</h2>
      <button mat-raised-button (click)="addToPlaylist(i)">
        Add to playlist
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
