@import '~styles/variables';

.search-string {
  font-weight: 500;
}

.result {
  display: flex;
  margin: 10px 0;
  align-items: center;

  h2 {
    padding-left: 10px;
    flex: 1;

    span {
      font-weight: 500;
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
  }
}

.result:nth-child(even) {
  background-color: $even-row-color;
}

button {
  margin-right: 10px;
}
