<h1>{{textContentService.playlistListTitle}}</h1>
<mat-card *ngFor="let playlist of playlists" class="playlist-item">
  <div class="title">
    {{playlist.name}}
  </div>
  <span class="playlist-spacer"></span>
  <div class="actions">
    <button mat-icon-button color="accent" (click)="edit(playlist.id)">
      <mat-icon>
        edit
      </mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="delete(playlist.id)">
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>
</mat-card>
<button mat-fab (click)="openNewDialog()" class="new-playlist">
  <mat-icon>
    add
  </mat-icon>
</button>
