@import '~styles/variables';

.playlist-item {
  margin: 7px 0;
  display: flex;
}

.title {
  font-size: 18px;
  display: flex;
  font-weight: bold;
  align-items: center;
  color: $primary-color;
}

.playlist-spacer {
  flex: 1 1 auto;
}

.new-playlist {
  color: $color-white;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
